.s__action
    .s__action_right
        .s__action_right_p
            p Action
        .s__action_right-line
        .s__action_right_txt
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestiae officia impedit at laudantium commodi molestias. Minima tempora recusandae corporis aperiam dolor rerum, dignissimos quam iste, nesciunt ut commodi soluta non distinctio aliquid consequuntur vel nihil quo deserunt. Inventore debitis possimus commodi, cumque est quo quod, temporibus quas perferendis illum

                a.s__action_right_txt-btn(href="#") Read more
    .s__action_left
        .s__action_left_p
            p Action