.s__main
    .s__main_left
        .s__main_left_p
            p Main
    .s__main_right
        .s__main_right-line
        .s__main_right_txt
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestiae officia impedit at laudantium commodi molestias. Minima tempora recusandae corporis aperiam dolor rerum, dignissimos quam iste, nesciunt ut commodi soluta non distinctio aliquid consequuntur vel nihil quo deserunt. Inventore debitis possimus commodi, cumque est quo quod, temporibus quas perferendis illum
                p Minima tempora recusandae corporis aperiam dolor rerum, dignissimos quam iste, nesciunt ut commodi soluta non distinctio aliquid consequuntur vel nihil quo deserunt. Inventore debitis possimus commodi, cumque est quo quod, temporibus quas perferendis illum

        section.cd-section
            .cd-modal-action
                a.s__main_right_txt-btn(href="#0", data-type="modal-trigger") Read More
                span.cd-modal-bg
            .cd-modal
                .cd-modal-content
                    h1 Lasers
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quasi voluptatum incidunt cumque molestiae mollitia nihil, accusamus officia repudiandae odit dignissimos ullam vitae tempore cupiditate, quod rem sunt recusandae aliquam.
            a.cd-modal-close(href="#0") Close