section.cd-section
    .cd-modal-action
        a.btn(href="#0", data-type="modal-trigger") More
        span.cd-modal-bg
    .cd-modal
        .cd-modal-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quasi voluptatum incidunt cumque molestiae mollitia nihil, accusamus officia repudiandae odit dignissimos ullam vitae tempore cupiditate, quod rem sunt recusandae aliquam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quasi voluptatum incidunt cumque molestiae mollitia nihil, accusamus officia repudiandae odit dignissimos ullam vitae tempore cupiditate, quod rem sunt recusandae aliquam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quasi voluptatum incidunt cumque molestiae mollitia nihil, accusamus officia repudiandae odit dignissimos ullam vitae tempore cupiditate, quod rem sunt recusandae aliquam.
    a.cd-modal-close(href="#0") Close