.s_about
    .s_about__left
        .s_about__left-line
        .s_about__left_p
            p about us
        .s_about__left_img
        .s_about__left_txt
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel delectus odit suscipit fugit quas dolorum molestias, iusto voluptate veritatis ex atque, at repellat quod reprehenderit. Quidem impedit quis, commodi eius saepe? Voluptatem iste quaerat ipsum, consectetur quo vero at dicta, possimus eos delectus doloribus? Possimus voluptate accusantium qui sequi cu

            a.s_about__left_txt-btn(href="#") Read
    .s_about__right
        .s_about__right-line
        .s_about__right_p
            p who we are
        .s_about__right_img
        .s_about__right_txt
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel delectus odit suscipit fugit quas dolorum molestias, iusto voluptate veritatis ex atque, at repellat quod reprehenderit. Quidem impedit quis, commodi eius saepe? Voluptatem iste quaerat ipsum, consectetur quo vero at dicta, possimus eos delectus doloribus? Possimus voluptate accusantium qui sequi cu

            a.s_about__right_txt-btn(href="#") Read