.s__sert
    .s__sert_top
        .s__sert_top-line
    .s__sert_p
        p Sert
    .s__sert_main-text
        h5 Наши сертификаты
    .s__sert-slider
        .js-flickity(data-flickity-options='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true, "autoPlay": false, "setGallerySize": false}')
            img(src="img/iso_fmk.jpg", alt="")
            img(src="img/sro1_fmk.jpg", alt="")
            img(src="img/sro2_fmk.jpg", alt="")
