#particles
    #intro
        h1 КУПИТЬ ЛИЦЕНЗИЮ<br>НА ЛАЗЕРНУЮ БЕЗОПАСНОСТЬ
        p Аттестация по лазерной безопасности

        a.btn_head(onclick="$('#footer').animatescroll({scrollSpeed:2000,easing:'easeOutCirc'});") Заказать
